.navbar {
    padding-bottom:20px;
}
.navbar-static-top .navbar-inner .container {
    padding-right: 100px;
}
.well { 
    padding-left: 5px;
    padding-right: 5px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    margin-bottom: 5px; 
    width: auto; 
}
textarea, .jslider, select {
    width: 100%;
}
input {
    width: 200px;
}
/**************************************************/
/*
 * Table
*/
table.dataTable {
  font-size: 11px;
}
table.dataTable tbody td {
  text-align: center;
}
/*
 * Table wrapper
 */
.dataTables_wrapper {
  font-size: 11px;
}
/*
 * Page length menu
 */
.dataTables_length,
.dataTables_length label,
.dataTables_length select {
  font-size: 11px;
  float: left;
}
.dataTables_length select {
  width: 75px;
}
/*
 * Filter
 */
.dataTables_filter,
.dataTables_filter label,
.dataTables_filter input {
	font-size: 11px;
}
/*
 * Table information
 */
.dataTables_info {
  font-size: 11px;
}
